@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Oleo+Script+Swash+Caps&family=Roboto:wght@100&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 5rem;
}

.head__one {
    /* margin-top: 10px; */
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
}

h3 {
    transform: rotate(270deg);
    background-color: black;
    color: #fff;
    width: 68px;
    height: 35px;
    font-size: 28px;
    letter-spacing: 5px;
    padding: 0 5px;
    margin-top: 25px;
}

.head__one h1 {
    font-size: 75px;
}

.head__two ul {
    margin-top: 30px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-around;
    font-size: 26px;
    font-weight: 600;
    width: 1240px;
}

.head__two li {
    list-style: none;
    cursor: pointer;
    color: #000;
    padding: 2px;
    position: relative;
}

hr {
    margin-top: 20px;
    height: 2.5px;
    background-color: rgb(67, 63, 63);
}

li:after {
    content: "";
    position: absolute;
    left: 0;
    top: 30px;
    height: 1.5px;
    background-color: rgb(93, 84, 84);
    width: 0%;
    transition: 0.2s ease-in-out;
}

li:hover:after {
    width: 100%;
}

a {
    text-decoration: none;
}

.img {
    margin-top: 45px;
    /* width: 80vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 6rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.img1 {
    width: 900px;
    height: 550px;
    border-radius: 8px;
    position: relative;
}

.img2 {
    width: 400px;
    height: 270px;
    border-radius: 8px;
}

.img3 {
    width: 400px;
    height: 270px;
    border-radius: 8px;
}

.span {
    color: #fff;
    position: absolute;
    bottom: 80px;
    left: 6%;
    font-family: 'Ubuntu', sans-serif;
}

#span {
    position: relative;
}

.kerala {
    font-size: 44px;
    font-weight: 600;
}

.span div {
    font-size: 25px;
}

.latest {
    padding: 15px;
    font-size: 42px;
    font-weight: 800;
    font-family: 'Exo', sans-serif;
    margin-bottom: 25px;
    position: relative;
}

.latest:after {
    left: 17px;
    bottom: 12px;
    height: 5px;
    content: "";
    width: 140px;
    position: absolute;
    background: linear-gradient(to right, rgb(18, 15, 15) 5%, rgb(180, 118, 2) 50%, rgb(217, 76, 24) 5%)
}

.block {
    width: 440px;
    font-family: Arial, Helvetica, sans-serif;
    height: 500px;
}

.block_img {
    width: 420px;
    height: 300px;
    border-radius: 5px;
}

.block_title {
    margin: 15px 3px;
    font-size: 24px;
    font-weight: 700;
}

.block_description {
    font-size: 18px;
    width: 400px;
    height: 200px;
    padding: 10px 6px;
    line-height: 25px;
    font-weight: 600;
    color: rgb(99, 99, 99);
}

.response {
    display: flex;
    justify-content: space-evenly;
    height: 660px;
}

.dates {
    font-size: 23px;
    padding: 4px 8px;
    color: rgb(99, 99, 99);
}

.dates b {
    color: #000;
}

.latest2 {
    padding: 15px;
    font-size: 42px;
    /* font-family: 'Ubuntu', sans-serif; */
    font-weight: 800;
    font-family: 'Exo', sans-serif;
    margin-bottom: 25px;
}

.latest2:after {
    left: 115px;
    top: 1750px;
    height: 4.7px;
    content: " ";
    width: 180px;
    position: absolute;
    background: linear-gradient(to right, rgb(18, 15, 15) 5%, rgb(180, 118, 2) 50%, rgb(217, 76, 24) 5%, rgb(138, 138, 138));
}

.response2 {
    display: flex;
    width: 1300px;
    margin-top: 65px;
}

.article1 {
    /* width: 1050px; */
    margin-right: 5rem;
}


.block2, .block2_flex {
    display: flex;
    margin-top: 1.4rem;
    font-family: sans-serif;
    align-items: center;
}

.block2 {
    width: 900px;
    margin-left: 10px;
}

.block2 img {
    width: 19.8rem;
    height: 15rem;
    border-radius: 4px;
}

.block2_title {
    font-size: 32px;
}

.block2_data {
    margin: 12px;
    font-weight: 600;
}

.block2_desc {
    margin: 20px 0;
    color: rgb(99, 99, 99);
    font-size: 17px;
}

.block2_flex {
    font-size: 18px;
}

.block2_flex p {
    color: rgb(99, 99, 99);
}

.article1 {
    width: 840px;
    margin-bottom: 4rem;
}

.block3_img {
    width: 180px;
    height: 140px;
    border-radius: 4px;
}

.block3 {
    margin-top: 20px;
    display: flex;
    width: 415px;
    font-size: 19px;
    font-family: sans-serif;
    font-weight: 600;
}

.block3_data {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
}

.block3_flex {
    display: flex;
}

.block3_flex p {
    color: rgb(99, 99, 99);
}

.adv {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(67, 63, 63);
    padding: 255px 0;
    font-family: sans-serif;
}

.latest_stories{
    display: flex;
    justify-content: space-evenly;
    height: 660px;
    margin-top: 2rem;
}
.bolly_img{
    width: 405px;
    height: 255px;
    border-radius: 5px;
}
.bolly_cat{
    margin: 15px 0px;
    font-family: sans-serif;
    font-size: 15px;
    display: flex;
}
.bolly_cat h2{
    font-size: 15px;
}
.bolly_right{
    margin-bottom: 50px;
    font-family: sans-serif;
}
.block4{
    margin: 25px 0px;
    width: 750px;
}
#block4{
    display: flex;
    justify-content: center;

}
.block4 h1{
    font-family: sans-serif;
    font-size: 40px;
    /* text-align:center; */
    line-height: 55px;
    margin: 35px 15px;
}
.block4 span{
    font-size: 24px;
}
.block4 b{
    margin: 25px 0;
    display: block;
    font-size: 25px;
    border: 2px solid rgb(219, 213, 213);
    width: 180px;
    text-align: center;
    padding: 5px;
    background-color: rgb(219, 213, 213);
    font-family: sans-serif;
    color: rgb(83, 78, 78);
}
.user{
    display: flex;
    padding: 45px;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}
.block4_desc{
    margin: 25px 0;
    width: 650px;
}
.block4_img{
    width: 650px;
    /* margin: 45px; */
}
.user_img{
    width: 180px;
}
a{
    color: #000;
}
.user h4{
    margin: 15px 0;
}